{% extends "base.html" %}
{% load static %}

{% block title %}Strona główna{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Najnowsze Memy</h2>

    {% if products %}
    <div class="carousel-container">
        <div class="carousel-slide">
            {% for product in products %}
            <div class="carousel-item">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="carousel-item-content">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }} PLN</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="prev" onclick="plusSlides(-1)">&#10094;</button>
        <button class="next" onclick="plusSlides(1)">&#10095;</button>
    </div>
    {% else %}
    <p>Brak produktów do wyświetlenia w karuzeli.</p>
    {% endif %}

</div>

<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function showSlides(n) {
        let i;
        const slides = document.getElementsByClassName("carousel-item");
        const slideContainer = document.querySelector(".carousel-slide");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}

        const offset = -(slideIndex - 1) * 100;
        slideContainer.style.transform = `translateX(${offset}%)`;
    }
</script>
{% endblock %}