{% extends "base.html" %}
{% load static %}

{% block title %}Panel Użytkownika{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/user_panel.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <h1 style="font-size: 2rem; margin-bottom: 0.5rem;">Panel Użytkownika</h1>
    <p class="muted">Witaj, {{ user.username }}! Zarządzaj swoimi ogłoszeniami, zamówieniami i powiadomieniami.</p>

    <!-- Nawigacja w zakładkach -->
    <div class="tabs" style="margin-top: 2rem;">
        <button class="tab-link active" onclick="openTab(event, 'announcements')">Twoje Ogłoszenia</button>
        <button class="tab-link" onclick="openTab(event, 'orders')">Twoje Zamówienia</button>
        <button class="tab-link" onclick="openTab(event, 'notifications')">Powiadomienia</button>
    </div>

    <!-- Kontenery zakładek -->
    <div id="announcements" class="tab-content active">
        {% include '_announcements.html' %}
    </div>

    <div id="orders" class="tab-content">
        {% include '_orders.html' %}
    </div>

    <div id="notifications" class="tab-content">
        {% include '_notifications.html' %}
    </div>
</div>
{% endblock %}

{% block page_script %}
<script>
    function openTab(evt, tabName) {
        // Ukryj wszystkie zakładki
        document.querySelectorAll(".tab-content").forEach(tab => tab.classList.remove('active'));

        // Deaktywuj wszystkie przyciski
        document.querySelectorAll(".tab-link").forEach(link => link.classList.remove('active'));

        // Pokaż wybraną zakładkę i aktywuj przycisk
        document.getElementById(tabName).classList.add('active');
        evt.currentTarget.classList.add("active");
    }
</script>
{% endblock %}